gradio
python-dotenv
pydantic
llama-index-embeddings-ollama
llama-index-vector-stores-chroma
llama-index-llms-ollama
# llama-index-readers-file
llama-index
transformers
# llama-index-callbacks-wandb
llama-index-retrievers-bm25
# pymupdf
tqdm
requests
pandas
sentence-transformers
debugpy
unstructured[csv,doc,docx,xlsx]
